	
    <div class="clearfix"></div>
    
    <!----- footer ----->
    <footer class="footer container">
     <div class="container-fluid">
      <div class="col-md-12">{level200}</div>
     </div>
    </footer>
    <!----- /footer ----->
    <!----- js ----->
    <script>
	var LANG='{lang}';
    </script>
    <script src="{template_dir}/js/jquery-1.10.1.min.js"></script>
    <script src="{template_dir}/js/bootstrap.min.js"></script>
    <script src="{template_dir}/js/bootstrap_calendar.min.js"></script>
    <script src="{template_dir}/js/main.js"></script>
    <!----- /js ----->
    
    <!----- google search style ----->
    <link rel="stylesheet" href="{template_dir}/css/template/search.css">
    <!----- /google search style ----->

    
    
