/* ==========================================================================
   CSS by Karol Huszal
   ========================================================================== */

/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  font-family: 'Roboto', sans-serif;
  background: url(../images/folklor-bg-left.jpg) left 100px no-repeat, url(../images/folklor-bg-right.jpg) right 100px no-repeat;
}

footer {
  padding: 30px 0;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}

/* headers */
h1, h2, h3, h4, h5, h6 {
	margin-bottom:0px;
}
/* end headers */

/* Links */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color:#333;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a, h6 a:hover {
	color:#1d1d1d;
	text-decoration:underline;
}

a, img {
	-webkit-transition: all 0.5s ease; 
	-moz-transition: all 0.5s ease; 
	-o-transition: all 0.5s ease; 
	transition: all 0.5s ease;
}

a img:hover {
	opacity:0.7;
	filter:alpha(opacity=70); /* For IE8 and earlier */
}
/* end links */

/*header */
.navbar .container {
  background: url('../images/header-background.png');
  background-repeat: no-repeat;
  background-position: right top;
}

/* logo */
.logo {
  margin: 12px 0 12px 0;
}
/* end logo */

/* search and language menu */
.search,
.search ul.kmw_langs,
.search #___gcse_0 {
  float: right;
  text-align: right;
}

.search {
  margin-top: 33px;
}

.search #___gcse_0 {
  width: 240px;
  border: 1px solid #c3c3c3;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  background: #fff;
}

.search #___gcse_0 * {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.search ul.kmw_langs li {
  border-right: 1px solid #b6b6b6;
}

.search ul.kmw_langs li a {
  text-transform: uppercase;
  color: #c3c3c3;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  margin-right: 10px;
  display: block;
  font-size: 11px;
}

.search ul.kmw_langs {
  margin-left: 30px;
}

.search ul.kmw_langs li:last-child a {
  margin-right: 0px;
}

.search ul.kmw_langs li:last-child {
  border-right: 0px;
}

.search ul.kmw_langs li.active a {
    color: #000000;
    font-weight: 700;
}

/* navbar */
#navbar {
  background-color: #c3c3c3;
  color:#fff;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  padding-left: 0px;
  padding-right: 0px;
}

#navbar a,
.navbar-nav>.active>a,
.navbar-nav>.active>a:hover,
.navbar-nav>.active>a:focus {
  color: #fff;
  padding-bottom: 7px;
  padding-top: 9px;
  padding-left: 15px;
  padding-right: 15px;
}

#navbar a:hover {
  background-color: #e3000b;
}

#navbar .nav.navbar-nav > li.active > a {
  background: #009ee2;
}

#navbar .nav.navbar-nav li.home a {
  padding-bottom: 0px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

#navbar .nav.navbar-nav.facebook {
  float: right;
}

#navbar .nav.navbar-nav.facebook li.home a {
  padding-bottom: 0px;
  padding-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
  background: #2c64a3;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
    background: #e3000b;
}

#navbar ul.nav li.dropdown:hover > ul.dropdown-menu a{
  border-bottom:1px solid #e3000b;
  text-transform: lowercase;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 0px;
  padding-right: 0px;
}

#navbar ul.nav li.dropdown:hover > ul.dropdown-menu a:hover,
#navbar ul.nav li.dropdown:hover > ul.dropdown-menu li.active a{
  border-bottom:1px solid #fff;
  background: none;
}

.navbar-nav>li>.dropdown-menu {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
/* end navbar */

/* footer */
#footer {
  color: #fff;
  font-size: 11px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  background: url('../images/footer-bg.jpg');
  background-repeat: no-repeat;
  background-color:#1d1d1d;
}

#footer h4 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 15px;
}

#footer .footer-menu {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 2;
  border-top: 0px !important;
}

#footer .footer-menu a {
  color: #fff;
  text-decoration:none;
}

#footer .footer-menu a:hover {
  color: #fff;
  text-decoration:underline;
}

#footer .last {
  text-align: right;
  font-weight: 300;
}

#footer .last a {
  color:#fff;
  font-weight: 700;
}

#footer .last a:hover {
  text-decoration: underline;
}

.footer-menu {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #c1c1c1;
  margin-bottom: 30px;
}

.footer-menu ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.footer-menu ul li {
  display: inline-block;
}

.footer-menu .last ul.menu-standard {
  float: right;
}

.footer-menu .last .kmw_article {
  font-size: 12px;
  font-weight: 700;
  color: #0d1110;
  margin-top: 15px;
}
/* end footer */

/* article list */
.article-list {
  margin-bottom: 15px;
}

.article-list .col-md-6:first-child {
  padding-left: 0px;
}

.article-list h1,
.article-list h2,
.article-list h3,
.article-list h4,
.article-list h5,
.article-list h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-top: 0px;
}

#content h1.widget_h,
#content .kmw_article h1,
#content .kmw_article h2,
#content .kmw_article h3,
#content .kmw_article h4,
#content .kmw_article h5,
#content .kmw_article h6 {
  font-size: 36px;
  color: #0d1110;
  font-weight: 300;
  margin-top: 40px;
  margin-bottom: 18px;
}

.row.border {
  border: 1px solid #c1c1c1;
  margin-right: 0px;
}

.col-md-6.txt {
  padding-left: 0px;
}

.col-md-6.txt a.read-more {
  color: #a8a8a8;
  font-size: 12px;
  text-transform: lowercase;
}
.col-md-6.article-list {
  
}

.articlelist-block-date {
  margin-bottom: 0px;
  font-weight: 700;
  color: #009ee2;
  font-size: 11px;
  margin-top: 10px;
}

.articlelist-block-date2 {
  display: none;
}

.kierownictwo .articlelist-block-date2 {
  display: block;
  margin-bottom: 0px;
  font-weight: 700;
  color: #009ee2;
  font-size: 11px;
  margin-top: 10px;
}

.kierownictwo .articlelist-block-date {
  display: none;
}

.kierownictwo .article-list h1,
.kierownictwo .article-list h2,
.kierownictwo .article-list h3,
.kierownictwo .article-list h4,
.kierownictwo .article-list h5,
.kierownictwo .article-list h6 {
  margin-top: 15px;
}

.kmw_article_text .date {
  font-weight: 700;
}

.kmw_article_text .time {
  font-weight: 700;
  margin-right: 15px;
}

.kmw_article_text .location {
  margin-right: 15px;
}

.kmw_article_text .summary {
  margin-right: 15px;
}
/* end article list */

/* calendar */
#sidebar {
  margin-top: 40px;
}

#sidebar h1,
#sidebar h2,
#sidebar h3,
#sidebar h4,
#sidebar h5,
#sidebar h6,
#sidebar h7 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
}

#sidebar .calendar .kmw_article_text {
  background: url('../images/calendar-bg.jpg');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: #009ee2;
  padding: 30px;
  text-align: center;
  color: #fff;
}

.calendar .icon-arrow-left {
	background: url('../images/calendar-arrows.png');
	display: block;
	height: 24px;
	width: 14px;
	background-position:0 -24px;
	float: left;
	cursor: pointer;
}

.calendar .icon-arrow-right {
	background: url('../images/calendar-arrows.png');
	display: block;
	height: 24px;
	width: 14px;
	background-position:0 0px;
	float: right;
	cursor: pointer;
}

.calendar .visualmonthyear {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
  color: #fff;
}

.calendar .week_days {
	text-transform: uppercase;
}

.calendar .table>tbody>tr>td,
.calendar .table>tbody>tr>th,
.calendar .table>tfoot>tr>td,
.calendar .table>tfoot>tr>th,
.calendar .table>thead>tr>td,
.calendar .table>thead>tr>th {
	padding: 5px;
	line-height: 1.42857143;
	vertical-align: top;
	border-top: 0px;
}

.calendar .table>tbody>tr {
  border-bottom: 0px !important;
}

.calendar a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 300;
}
.calendar td{
    text-align: center;
    border: 0px;
}
.calendar .header{
    padding: 10px 0 10px 0;
}
.calendar .prev_month{
    float: left;
}
.calendar .next_month{
    float: right;
}
.calendar .year{
    text-align: center;
    font-weight: 500;
}
.calendar .week_days{
    font-weight: 500;
}
.calendar .event{
    color: #ffffff !important;
    background: #0f6d95 !important;
    font-weight: bold;
}
.calendar .event:hover{
    background: #89aa0f;
}
.calendar .event a{
    color: #fff;
    display: block;
    width: 100%;
    height: 100%;
}
.calendar .event:hover a {
    color: #dc352f;
}
.calendar .table td{
    padding: 0px;
    vertical-align: middle;
}
.calendar .table{
    margin-bottom: 20px;
}

.calendar .table:last-child {
  border-bottom: 1px solid #fff;
}

.calendar .week_days {
  border-top: 1px solid #fff;
}

.calendar .week_days td{
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    padding-top: 20px !important;
}


@media (max-width:1199px) {
	.calendar .table>tbody>tr>td,
	.calendar .table>tbody>tr>th,
	.calendar .table>tfoot>tr>td,
	.calendar .table>tfoot>tr>th,
	.calendar .table>thead>tr>td,
	.calendar .table>thead>tr>th {
		padding: 4px !important;
	}
	
	.calendar .event {
		background: #b3b4b8 !important;
		background-image:none !important;
	}
    
    .calendar .event{
    color: #ffffff !important;
    background: #0f6d95 !important;
    font-weight: bold;
}
.calendar .event:hover{
    background: #89aa0f;
}
}

@media (max-width:991px) {
	.calendar .table>tbody>tr>td,
	.calendar .table>tbody>tr>th,
	.calendar .table>tfoot>tr>td,
	.calendar .table>tfoot>tr>th,
	.calendar .table>thead>tr>td,
	.calendar .table>thead>tr>th {
		padding: 0px !important;
	}
	
	.calendar .event {
		background: #b3b4b8 !important;
		background-image:none !important;
	}
    
    .calendar .event{
    color: #ffffff !important;
    background: #0f6d95 !important;
    font-weight: bold;
}
.calendar .event:hover{
    background: #89aa0f;
}
}

@media (max-width:768px) {
	.calendar .table>tbody>tr>td,
	.calendar .table>tbody>tr>th,
	.calendar .table>tfoot>tr>td,
	.calendar .table>tfoot>tr>th,
	.calendar .table>thead>tr>td,
	.calendar .table>thead>tr>th {
		padding: 7px !important;
	}
	
	.calendar .event {
		background: #f0f1f3 !important;
		background: url('../images/circle.png') !important;
		background-position:center center !important;
		background-repeat:no-repeat !important;
	}
    
    .calendar .event{
    color: #ffffff !important;
    background: #0f6d95 !important;
    font-weight: bold;
}
.calendar .event:hover{
    background: #89aa0f;
}
}
/* end calendar */

/* article */
#content .kmw_article_text {
  font-size: 14px;
  font-weight: 300;
  color: #555;
}

.header {
  font-size: 48px;
  color: #fff;
  font-weight: 300;
  text-align: right;
  padding: 30px 100px 30px 30px;
}
/* end article */

/* sidebar menu */
ul.sidebar-menu {
  background: url('../images/menu-sidebar-bg.jpg');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: #c3c3c3;
  padding: 0px;
  margin: 0px;
  margin-bottom: 30px;
  list-style: none;
}

ul.sidebar-menu li a {
  color: #fff;
  padding: 5px 15px 5px 15px;
  text-transform: uppercase;
  font-weight: 300;
  display: block;
}

ul.sidebar-menu li a:hover {
  background-color: #e3000b;
  text-decoration: none;
}

ul.sidebar-menu li.active a,
ul.sidebar-menu li.active a:hover {
  background-color: #009ee2;
}
/* end sidebar menu */

/* gallery */
.gallery2 a img {
    max-width: 100%;
    display: block;
    max-height: 120px;
    margin: 0 auto;
    margin-bottom: 0px !important;
    margin-top: 0px;
    padding: 10px;
    cursor: pointer;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    margin: 0 1px;
}

.bx-caption {
    bottom: 20px !important;
    right: 20px !important;
}
/* end gallery */

/* map */
.map-info-box {
  position: relative;
  z-index: 999;
  background: #fff;
}

#google-map h3,
#google-map h3 a {
  font-weight: 300;
  font-size: 18px;
  max-width: 150px;
  text-align: right;
  float: left;
  margin-top: 20px;
  color: #000;
}

ul.marker-add {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

ul.marker-add li {
  display: inline-block;
}

.gm-style-iw ul {
  list-style: none;
  padding: 0px;
  margin: 10px 0 10px 0;
}

.fl-lt {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}

.fl-rt {
  float:right;
  margin-left:15px;
  margin-bottom: 15px;
}

.nophoto a.kmw_article_photo {
  display: none;
}

.kmw_article_photo img {
  max-width: 220px;
}

/* Media Queries */
@media (max-width:992px) {
  .banner {
    margin-left: 15px;
    margin-right: 15px;
  }
  
  .article-list .col-md-6:first-child {
    padding-right: 0px;
  }
  
  .article-list .col-md-6.txt {
    text-align: center;
  }
  
  #sidebar .calendar .kmw_article_text {
    padding: 15px;
  }
}

@media (max-width: 768px) {
  .navbar-toggle {
    border-color: #009ee2;
    margin-top: -60px;
  }
  
  .navbar-toggle:hover {
    background-color: #f2f2f2;
  }
  
  .navbar-toggle .icon-bar {
    background-color: #009ee2;
  }
  
  .navbar-nav {
    text-align: center;
    margin: 0 0;
  }
  
  #navbar .nav.navbar-nav.facebook {
    float: none;
  }
  
  #footer .last {
    text-align: left;
    margin-top: 30px;
  }
  
  .footer-menu ul li {
    display: list-item;
    text-align: center;
    margin: 0px auto;
  }
  
  .footer-menu .last ul.menu-standard {
    float: none;
  }
}
/* /Media Queries */


/* Piotr added */

.article-list .txt h1 a,.article-list .txt h2 a, .article-list .txt h3 a, .article-list .txt h4 a {
	font-size: 16px;

}

.article-list .txt .ellipsis {
  width: 175px;
}


.ellipsis {
    overflow: hidden;
    height: 55px;
    line-height: 25px;
}
.ellipsis:before {
    content: "";
    float: left;
    width: 5px;
    height: inherit;
}
.ellipsis > *:first-child {
    float: right;
    width: 100%;
    margin-left: -5px;
}
.ellipsis:after {
    content: "\02026";
    font-size: 2em;
    box-sizing: content-box !important;
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    float: right;
    position: relative;
    top: -25px;
    left: 100%;
    width: 3em;
    margin-left: -3em;
    padding-right: 5px;
    text-align: right;
    background-size: 100% 100%;
    background: -webkit-gradient(linear,left top,right top,
        from(rgba(255,255,255,0)),to(white),color-stop(50%,white)) !important;
        background: -moz-linear-gradient(to right,rgba(255,255,255,0),white 50%,white);
        background: -o-linear-gradient(to right,rgba(255,255,255,0),white 50%,white);
        background: -ms-linear-gradient(to right,rgba(255,255,255,0),white 50%,white);
        background: linear-gradient(to right,rgba(255,255,255,0),white 50%,white);
}


a.bx-pager-link {
  width: 18px !important;
  height: 18px !important;
  margin-right: 5px !important;
}

.wcag {
	float:right;
	margin-left:18px;
}
.wcag button {
	background: url(img/wcag.png);
	background-repeat:no-repeat;
	background-size: 23px;
	background-color: white;
	color:#131313;
	height:23px;
	width:23px;
	line-height:18px;
	border:0;
}
.wcag button:hover {
	background-color: yellow;
}

.wcag-contents {
	display: none;
	width: 370px;
	height:60px;
	position: absolute;
	right: 15px;
	top: -18px;
	border: 1px solid #176095;
	padding:3px;
	border-radius: 3px;
	background-color: white;
	z-index: 1;
}

.wcag-contents div {
	display: inline-block;
	float:right;
}


.wcag-contents .wcag {
	
	background: url(img/wcag.png);
	background-repeat:no-repeat;
	background-size: 52px;
	width: 52px;
	height: 52px;
	cursor: pointer;
	margin-left: 10px;
}

.wcag-contents .wcag:hover {
	background-color: yellow;
}

.wcag-contents .high-contrast-bw {
	width: 45px;
	color: white;
	background-color: black;
	margin-top:3px;
	margin-right: 8px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	font-size: 30px;
	border: 2px solid yellow;
}




body.wcag-contrast-1 {
	background:#000;
	color:#fff;
	border-color:#fff;
	font-weight:normal !important;
}

body.wcag-contrast-1 a {
	color: #fcff3c;
	background:#000;
	background-color:#000 !important;
	border:1px solid #000;
	font-weight:normal !important;
}

body.wcag-contrast-1 a:hover {
	color:#fff;
	background:#000;
	background-color:#000;
	border:1px solid #fcff3c;
}

body.wcag-contrast-1 .language-menu ul.kmw_langs li a {
    background: url(flags.png) no-repeat !important;
}

body.wcag-contrast-1 a.articlelist_photo {
	border:0px !important;
}

body.wcag-contrast-1 img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

body.wcag-contrast-1 .navbar-inverse {
    background-image: none !important;
    background-repeat: none !important;
    background-color: #000000 !important;
    border-bottom: 5px solid #ffffff !important;
}

body.wcag-contrast-1 .articlelist-block .articlelist-block-text,
body.wcag-contrast-1 #sidebar .article{
	color:#fff !important;
	font-weight:normal !important;
}

body.wcag-contrast-1 h1,
body.wcag-contrast-1 h2,
body.wcag-contrast-1 h3,
body.wcag-contrast-1 h4,
body.wcag-contrast-1 h5,
body.wcag-contrast-1 h6 {
	color:#fff !important;
}

body.wcag-contrast-1 .radio label {
	color:#fff !important;
}

body.wcag-contrast-1 #footer {
    background: none;
	background-color:#000 !important;
	border-top:5px solid #fff;
    color: #fff;
}

body.wcag-contrast-1 .dropdown-menu {
    background-color: #000000;
    border: 5px solid #fff;
}

body.wcag-contrast-1 #main-menu ul li > a:hover {
	border:1px solid #000 !important;
	color:#fcff3c;
}

body.wcag-contrast-1 .kmw_articlelist_text {
	color: #bbb;
}

body.wcag-contrast-1 .gallery2 figcaption {
	color: #ccc;
}

body.wcag-contrast-1 .wcag-contents a {
    color: #000;
    background: #fff;
    background-color: #fff !important;
    border: 0;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  left: auto;
  right: 0;
}


a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
    color: #fff;
    background-color:#000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:6px solid yellow;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}


body.wcag-on :focus {
	outline: 3px solid #176095;
}

body.wcag-contrast-1 :focus {
	outline: 3px solid yellow;
}

body.wcag-on .navbar :focus {
	outline: 2px solid yellow;
}

ul.nav li.dropdown:focus-within {
  background-color: #e3000b;
}


ul.nav li.dropdown:hover > ul.dropdown-menu,
ul.nav li.dropdown:active > ul.dropdown-menu,
ul.nav li.dropdown:focus-within > ul.dropdown-menu {
    display: block;
    background-color: #e3000b;
}
