
    <script src="{template_dir}/js/jquery.min.js"></script>
    <script src="{template_dir}/js/jquery.scrolly.min.js"></script>
    <script src="{template_dir}/js/jquery.dropotron.min.js"></script>
    <script src="{template_dir}/js/jquery.scrollex.min.js"></script>
    <script src="{template_dir}/js/skel.min.js"></script>
    <script src="{template_dir}/js/util.js"></script>
    <!--[if lte IE 8]><script src="{template_dir}/js/ie/respond.min.js"></script><![endif]-->
    <script src="{template_dir}/js/main.js"></script>