<!DOCTYPE html>
<!--[if (gte IE 9)|!(IE)]><!--><html lang="{lang}"> <!--<![endif]-->

 <head>
 {include:head.html}
 </head>

<body>
 <div id="page-wrapper">

 {with:header} {include:header.html} {endwith:header}

 <!----- main content ----->
 {with:body}
  <div id="main" class="wrapper style1">
   <div class="container">
    {level5}
    
    <div class="row 150%">
     <div class="8u 12u$(medium)">
       <section id="content">
        {level1}
       </section>
     </div>
     <div class="4u$ 12u$(medium)">
       <section id="sidebar">
        {level2}
       </section>
     </div>
    </div>

   </div>
  </div>
 {endwith:body}
 <!----- /main content ----->

 {with:footer} {include:footer.html} {endwith:footer}
 </div>
 {include:js.html}
</body>
</html>