{with:articleWidget}

{if:level=(9)}
<section id="banner"{if:img} style="background-image: url({uimages}/{img})"{endif:img}>
 {img}
  <div class="content">
   <header>
     {if:title}<h2>{title}</h2>{endif:title}
	 <p>{plain}{tokens.html}</p>
   </header>
   {if:bgimg}
   <span class="image"><img src="{uimages}/{bgimg}" alt="{title}" /></span>
   {endif:bgimg}
  </div>
  <a href="#one" class="goto-next scrolly">{translates.Next}</a>
</section>
{define:level_found=1}
{endif:level=(9)}

{if:level=(8)}

<section id="one" class="spotlight style1 bottom">
   {if:img}
   <span class="image fit main"><img src="{uimages}/{img}" alt="{title}" /></span>
   {endif:img}
	<div class="content">
		<div class="container">
			<div class="row">
				<div class="4u 12u$(medium)">
					<header>
						{if:title}<h2>{title}</h2>{endif:title}
						<p>{plain}{tokens.html}</p>
					</header>
				</div>
				<div class="4u 12u$(medium)">
					<p>{text1}</p>
				</div>
				<div class="4u$ 12u$(medium)">
					<p>{text2}</p>
				</div>
			</div>
		</div>
	</div>
	<a href="#two" class="goto-next scrolly">{translates.Next}</a>
</section>

{define:level_found=1}
{endif:level=(8)}



{if:level=(7)}

<section id="two" class="spotlight style2 right">
   {if:img}
   <span class="image fit main"><img src="{uimages}/{img}" alt="{title}" /></span>
   {endif:img}
	<div class="content">
		 <header>
			 {if:title}<h2>{title}</h2>{endif:title}
			 <p>{trailer}</p>
		 </header>
		 
		 <p>{plain}{tokens.html}</p>
		 {if:more}
		 <ul class="actions">
		  <li><a href="{more_link}" class="button">{if:moretxt}{moretxt}{endif:moretxt}{if:!moretxt}{translates.More} &raquo;{endif:!moretxt}</a></li>
		 </ul>
		 {endif:more}
		
	</div>
	<a href="#three" class="goto-next scrolly">{translates.Next}</a>
</section>

{define:level_found=1}
{endif:level=(7)}


{if:level=(6)}

<section id="three" class="spotlight style3 left">
   {if:img}
   <span class="image fit main"><img src="{uimages}/{img}" alt="{title}" /></span>
   {endif:img}
	<div class="content">
		 <header>
			 {if:title}<h2>{title}</h2>{endif:title}
			 <p>{trailer}</p>
		 </header>
		 
		 <p>{plain}{tokens.html}</p>
		 {if:more}
		 <ul class="actions">
		  <li><a href="{more_link}" class="button">{if:moretxt}{moretxt}{endif:moretxt}{if:!moretxt}{translates.More} &raquo;{endif:!moretxt}</a></li>
		 </ul>
		 {endif:more}
		
	</div>
	<a href="#four" class="goto-next scrolly">{translates.Next}</a>
</section>

{define:level_found=1}
{endif:level=(6)}


{if:level=(5)}
<header class="major">
  <h2>{title}</h2>
  <p>{plain}{tokens.html}</p>
</header>
{define:level_found=1}
{endif:level=(5)}

{if:level=(4)}
<section class="4u 6u(medium) 12u$(xsmall)">
  {if:icon}<span class="icon alt major {icon}"></span>{endif:icon}
  <h3>
   {if:more}<a href="{more_link}">{endif:more}
   {title}
   {if:more}</a>{endif:more}
  </h3>
  <p>{plain}{tokens.html}</p>
</section>
{define:level_found=1}
{endif:level=(4)}


{if:level=(10)}
<section id="five" class="wrapper style2 special fade">
	<div class="container">
		<header>
			<h2>{title}</h2>
			<p>{trailer}</p>
		</header>
		{plain}
	</div>
</section>

{define:level_found=1}
{endif:level=(10)}



{if:level=100}
    {if:title}<span title="{title}">{endif:title}
	 {plain}{tokens.html}
	{if:title}</span>{endif:title} 
{define:level_found=1}
{endif:level=100}

{if:!level_found}
{if:level=2}
{if:!first_child}<hr/>{endif:!first_child}
<section>
{endif:level=2}
{if:bgimg}
<a {if:more}href="{more_link}"{endif:more}{if:!more} href="{uimages}/{bgimg}" fancybox="1"{endif:!more} title="{title}" class="image fit">
 <img src="{normalImgUrl}/{bgimg}" alt="{title}" />
</a>
{endif:bgimg}
<h3>{title}</h3>
{plain}{tokens.html}

{if:more}
<footer>
<ul class="actions">
 <li><a href="{more_link}" class="button">{if:moretxt}{moretxt}{endif:moretxt}{if:!moretxt}{translates.More} &raquo;{endif:!moretxt}</a></li>
</ul>
</footer>
{endif:more}

{if:level=2}
</section>
{endif:level=2}

{endif:!level_found}

{endwith:articleWidget}
