.pcoded .pcoded-header {
    position: relative !important
}

.pcoded .pcoded-navbar {
    position: absolute !important
}

.form-material .parameters div {
    cursor: move;
}

li.admin-access {
    display: block !important;
}