
  <!--[if lt IE 7]>
            <p class="chromeframe">Używasz <strong>przestarzałej</strong> przeglądarki. Proszę <a href="http://browsehappy.com/">uaktualnić swoją przeglądarkę</a> lub <a href="http://www.google.com/chromeframe/?redirect=true">aktywuj Google Chrome Frame</a> poprawić swoje doświadczenie.</p>
        <![endif]-->
    <div class="navbar navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!----- Your logo ----->
          <div class="navbar-brand">{level100}</div>
          <!----- /Your logo ----->
        </div>
        <div class="navbar-collapse collapse">
          {level101}

        </div><!--/.navbar-collapse -->
      </div>
    </div><!-- /container -->


<div class="clearfix"></div>
