	
    <div class="clearfix"></div>
    
    <!----- footer ----->
    <div class="container">
      {if:page.type=3}<div class="map-legend">{level205}</div>{define:page.type=3}{endif:page.type=3}
     {if:!page.type=3}
     <footer>
        <div class="row">
          <div class="col-md-3 col-sm-3">{level200}</div>
          <div class="col-md-3 col-sm-3">{level201}</div>
          <div class="col-md-3 col-sm-3">{level202}</div>
          <div class="col-md-3 col-sm-3">{level203}</div>
        </div>
     </footer>{endif:!page.type=3}
    </div>
    <!----- /footer ----->
    


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{template_dir}/js/bootstrap.min.js"></script>
    <script src="{template_dir}/js/main.js"></script>
    <script src="{template_dir}/js/calc.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{template_dir}/js/ie10-viewport-bug-workaround.js"></script>
    <script src="{template_dir}/js/offcanvas.js"></script>
    