<div class="background">
     <!----- bcg ----->
     <img src="{if:!page.background}{if:server.background}{uimages}/{server.background}{endif:server.background}{endif:!page.background}
     {if:page.background}{uimages}/{page.background}{endif:page.background}" class="img-responsive" />
     <!----- /bcg ----->
    </div>


    <nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!----- Logo ----->
          <div class="navbar-brand">{level100}</div>
          <!----- /Logo ----->
        </div>
        <div id="navbar" class="collapse navbar-collapse pull-right">
          {level101}
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->