<!DOCTYPE html>
<!--[if (gte IE 9)|!(IE)]><!--><html lang="{lang}"> <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  

  <!----- head ----->
  {include:head.html}
  <!----- /head ------>
  
  <style>
   ul.map-markers  {
    list-style: none;
    margin: 0;
   }
   ul.map-markers li {
    display: inline-block;
   }
   
   ul.map-markers li img {
    cursor: pointer;
   }
   
   ul.map-markers li.active img {
    cursor: pointer;
    border:red solid 2px;
    border-radius: 4px;
   }
  </style>
   
</head>

<body{if:page.class} class="{page.class}"{endif:page.class}>
  
 <!----- header ----->
 <div class="map-header">
 {with:header} {include:header.html} {endwith:header}
 </div>
 <!----- /header ----->

 <!----- main content ----->
 {with:body}
  <div class="container map-body">
   <div class="row">
   
   <!----- main level ----->
   <div class="row"><div class="col-md-12">{level1}</div></div>
   <!----- /main level ----->
   
  </div> <!-- /row end -->
 </div> <!-- /container end -->
 {endwith:body}
 
 <div id="google-map"></div>
 
 <!----- /main content ----->

 <!----- footer ----->

<button class="btn btn-primary btn-footer" type="button" data-toggle="collapse" data-target="#collapseFooter" aria-expanded="false" aria-controls="collapseFooter">
  Button
</button>
 <div class="map-footer">
 {with:footer} {include:footer.html} {endwith:footer}
 </div>
 <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?v=3.exp"></script>
 <script src="{template_dir}/js/map.js"></script>
 
 <!----- /footer ----->

</body>
</html>