.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
    clear: both;
}

div.text1 {
  margin-top: 20px;
}
div.text1, div.text1 p {
  color: white;
}

.color_dark {
  color: #727677;
}

.article h3 {
  margin: 35px 0 25px 0;
}
.article .kmw_article_photo img {
  margin-bottom: 20px;
}

.gallery2tw a.thumb {
  background-color: #fff;
}

.term-list dt {
  margin-top: 20px;
  margin-bottom:5px;
}

.term-list dt + dd {
  margin-top: 14px;
}