.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
    clear: both;
}

div.text1 {
  margin-top: 20px;
}
div.text1, div.text1 p {
  color: white;
}

.color_dark {
  color: #727677;
}

.article h3 {
  margin: 35px 0 25px 0;
}
.article .kmw_article_photo img {
  margin-bottom: 20px;
}

.article .date_format {
  font-style: italic;
  margin: 0 0 0 3px;
  position: relative;
  top: -5px;
  font-size: 0.8em;
}

.gallery2tw a.thumb {
  background-color: #fff;
}

.sf-menu li ul {
  z-index: 100;
}

.term-list dt {
  margin-top: 20px;
  margin-bottom:5px;
}

.term-list dt + dd {
  margin-top: 14px;
}

.img-wr {
  background-position: center;
  background-size: 100%;
}

.info-block {
  padding: 100px 0px 166px 0px;
  
}

@media (max-width: 1199px) {
    .info-block {
      padding: 56px 0 92px; } }


.article ol li,
.kmw_article ol li {
  line-height: 30px;
  font-size: 18px;
}


.article ol ol li,
.kmw_article ol ol li {
  line-height: 26px;
  font-size: 16px;
}

.article ol,
.kmw_article ol {
  list-style: decimal;
  margin-left: 20px;
  margin-top: 10px;
}

.article ol ol,
kmw_article ol ol {
  margin-left: 20px;
  margin-top: 1px;
  list-style: lower-alpha;
}

.article ol ol ol,
.kmw_article ol ol ol{
  list-style: square;
}


.article ul li,
.kmw_article ul li {
  line-height: 30px;

}


.article ul,
.kmw_article ul {
  list-style: disc;
  margin-left: 25px;
}

.article ul ul,
kmw_article ul ul {
  margin-left: 20px;

  list-style: square;
}

.article ul ul ul,
.kmw_article ul ul ul{
  list-style: square;
}


.top_article .info-block h2 {
  font-size: 48px;
}

@media (max-width: 1199px) {
  .top_article .info-block .info-block h2 {
    font-size: 26px;
  }
}