
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="{template_dir}/js/bootstrap.min.js"></script>
    <script src="{template_dir}/js/main.js"></script>
    
    <!----- google search style ----->
    <link rel="stylesheet" href="{template_dir}/css/search.css" defer="1"/>
    <!----- /google search style ----->
    
    <!----- user js ----->
    {tokens.wbp_js}
    <!----- /user js ----->
    
