
    {with:footer}
	
    <div class="clearfix"></div>
    
    <!----- footer ----->
    <footer id="footer">
     <div class="row">
      <div class="container">
       <div class="col-md-9 col-sm-12 col-xs-12">
        <div class="col-md-4 col-sm-4 footer-can-1">{level200}</div>
        <div class="col-md-4 col-sm-4 footer-can-2">{level201}</div>
        <div class="col-md-4 col-sm-4 footer-can-3">{level202}</div>
       </div>
       <div class="col-md-3 col-sm-12 col-xs-12 footer-can-4">{level203}</div>
      </div>
     </div>
     <div class="container">
      <div class="row footer-bottom">
       <div class="col-md-12">{level204}</div>
      </div>
     </div>
    </footer>
    <!----- /footer ----->

    {endwith:footer}
   
<div style="display:none" class="form-loading" id="wbp-form-loading">
<img src="{template_images}/loading.gif"/>
<label for="loading"></label>
</div> 
