{with:header}


<a class="skip-main" href="#top-menu">{if:lang=pl}Przejdź do menu{endif:lang=pl}{if:lang=en}Skip to main menu{endif:lang=en}</a>
<a class="skip-main" href="#body">{if:lang=pl}Przejdź do treści{endif:lang=pl}{if:lang=en}Skip to main contents{endif:lang=en}</a>
<a class="skip-main" href="#footer">{if:lang=pl}Przejdź do stopki{endif:lang=pl}{if:lang=en}Skip to footer{endif:lang=en}</a>

{if:level199}{level199}{endif:level199}
<div class="facebook hidden-sm hidden-xs">{level104}</div>
<!-- Top -->
<div class="row top">
 <div class="container">
  <div class="col-md-6 col-sm-6 col-xs-6"><a href="{tokens.page_href}" class="navbar-brand">{level100}</a></div>
  <div class="col-md-6 col-sm-6 col-xs-6">
   
   <div class="wcag-contents">
     <div class="wcag">
     </div>
     
     <div class="font-size">
      <a href="#" class="decreaseFont"  style="font-size:26px;">-</a>
      <a href="#" class="decreaseFont"  style="font-size:26px;">A</a>
      <a href="#" class="defaultFont"  style="font-size:32px;">A</a>
      <a href="#" class="increaseFont" style="font-size:40px;">A</a>
      <a href="#" class="increaseFont" style="font-size:40px;">+</a>
    </div>
     
     <div class="high-contrast-bw">A</div>
     
   </div>
   <div class="wcag hidden-xs"
    title="{if:lang=pl}Ułatwienia dostępu, kliknij aby zmienić kontrast lub zwiększyć czcionkę{endif:lang=pl}{if:lang=en}Disabled support, click to change contrast or increase font size{endif:lang=en}">
    <button></button>
   </div>
   
   <div class="language-menu">{level103}</div>
   <div class="print"><button onclick="javascript:window.print()"></button></div>
   <div class="clearfix"></div>
  {level101}</div>
 </div>
</div>
<!-- /Top -->

<!-- Navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="static-main-menu hidden-sm hidden-lg hidden-md">{level102}</div>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="top-menu" class="main-menu navbar-collapse collapse navbar-left">{level102}</div>
        
      </div>
    </div><!-- /container -->
<!-- /Navbar -->

<div class="clearfix"></div>
{endwith:header}
