{with:header}

{if:level199}{level199}{endif:level199}

<!-- Top -->
<div class="row top">
 <div class="container">
  <div class="col-md-6 col-sm-6 col-xs-6"><a href="{tokens.page_href}" class="navbar-brand">{level100}</a></div>
  <div class="col-md-6 col-sm-6 col-xs-6">
          
   <div class="font-size">
    <a href="#" class="defaultFont"  style="font-size:12px; margin-left:3px;">A</a>
    <a href="#" class="increaseFont"  style="font-size:16px; margin-left:3px;">A</a>
    <a href="#" class="increaseMoreFont" style="font-size:20px; margin-left:3px;">A</a>
   </div>
   <div class="print"><button onclick="javascript:window.print()">Drukuj strone</button></div>
   <div class="clearfix"></div>
  {level101}</div>
 </div>
</div>
<!-- /Top -->

<!-- Navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="main-menu" class="navbar-collapse collapse navbar-left">{level102}</div>
        
      </div>
    </div><!-- /container -->
<!-- /Navbar -->

<div class="clearfix"></div>
{endwith:header}