{if:title}<h2 class="widget_h">{title}</h2>{endif:title}
{with:breadcrumbsWidget}
{if:breadcrumbs}
<div class="breadcrumbs">
    <ul itemscope itemtype="http://schema.org/BreadcrumbList">
        <li class="breadcrumbs-info">Jestes tutaj:</li>
        {loop:breadcrumbs}
        <li {if:self}class="active"{endif:self} itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            {if:href}<a href="{href}" itemprop="item">{endif:href}
            <span itemprop="name">{title}</span>
            {if:href}</a>{endif:href}
            <meta itemprop="position" content="{__index__}"/>
            {if:neighbors}
            <span></span>
            <ul>
                {loop:neighbors}
                <li {if:self}class="active"{endif:self}>
                {if:href}<a href="{href}">{endif:href}
                {title}
                {if:href}</a>{endif:href}
                </li>
                {endloop:neighbors}
            </ul>
            {endif:neighbors}
        </li>
        {endloop:breadcrumbs}
    </ul>
    {if:plain}<div class="plain">{plain}</div>{endif:plain}
    <div class="clear"></div>
    
</div>

{endif:breadcrumbs}
{endwith:breadcrumbsWidget}