{if:title}<{tokens.h1} class="widget_h">{title}</{tokens.h1}>{endif:title}
{with:gallery2Widget}
{if:webtd.menu}

{define:colmd}4{enddefine:colmd}
{if:size=2}{define:colmd}6{enddefine:colmd}{endif:size=2}
{if:size=4}{define:colmd}3{enddefine:colmd}{endif:size=4}
{if:size=5}{define:colmd}2{enddefine:colmd}{endif:size=5}
{if:size=6}{define:colmd}2{enddefine:colmd}{endif:size=6}
{if:size=(7,8,9,10,11,12)}{define:colmd}1{enddefine:colmd}{endif:size=(7,8,9,10,11,12)}


{if:data.thumb_width}
  <style>
  #gallery{webtd.sid} img.img-responsive {
	height: auto;
	max-height: {data.thumb_height}px;
  }
  </style>
{endif:data.thumb_width}


<div id="gallery{webtd.sid}" class="gallery2">
{loop:webtd.menu}
{define:attr}data-fancybox-href="{uimages}/{img}" href="javascript:;"{enddefine:attr}
{if:mode=(0,1)}{if:href}{define:attr}href="{href}"{if:target} target="{target}"{endif:target}{enddefine:attr}{endif:href}{endif:mode=(0,1)}
<figure class="col-md-{colmd}">
  <a class="gallery2_aimg fancybox{webtd.sid}" {attr} rel="gallery{webtd.sid}"
	 {if:alt}title="{alt}{if:titlea}<br/><span class='gallery2_more'>{titlea}</span>{endif:titlea}"{endif:alt}>
  <img class="img-responsive" src="{thumbsUrl}/{img}" title="{alt}" alt="{titleb}"/>
  <span class="galery2_more_hover">{titlea}</span>
  </a>
  
  <div class="clearfix"></div>
  <a {attr}}>
  <figcaption>{if:alt}{alt}{endif:alt}{if:!alt}&nbsp;{endif:!alt}</figcaption>
  <div class="gallery-line"></div>
  </a>
</figure>
{endloop:webtd.menu}
</div>
<div class="clearfix"></div>

<script type="text/javascript">
var kmw_Galery2Array;

if(typeof(kmw_Galery2Array)=='undefined') kmw_Galery2Array=[];

kmw_Galery2Array.push({
	sid: {webtd.sid},
	openEffect	: '{data.effect}',
	closeEffect	: '{data.effect}',
	{if:data.slideshow_autostart}autoPlay	: '{data.slideshow_autostart}',{endif:data.slideshow_autostart}
	{if:data.animation_speed}playSpeed	: '{data.animation_speed}',{endif:data.animation_speed}
	openSpeed	: 'normal',
	closeSpeed	: 'normal'
});
</script>
{endif:webtd.menu}
{endwith:gallery2Widget}
