{if:title}<{tokens.h1} class="widget_h">{title}</{tokens.h1}>{endif:title}
{with:searchWidget}
{if:data.cx}

{if:data.load_script}
<script>
(function() {
  var cx = '{data.cx}'; 
  var gcse = document.createElement('script'); gcse.type = 'text/javascript'; gcse.async = true;
  gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
})();
</script>
{endif:data.load_script}


{if:!data.type}
<gcse:search linkTarget="_self" enableOrderBy="true"></gcse:search>

{endif:!data.type}
{if:data.type=1}


<gcse:searchbox-only resultsUrl="{next_link}" queryParameterName="q" enableAutoComplete="true"></gcse:searchbox-only>

<form id="search-catalog-form" style="display: none" target="_blank" action="http://www.poznan-wbp.sowwwa.pl/sowacgi.php">
    <input type="text" name="q" id="search-catalog-form-txt"/>
    <input type="hidden" name="KatID" value="2"/>
    <input type="hidden" name="typ" value="repl"/>
    <input type="hidden" name="plnk" value=""/>
    <input type="hidden" name="sort" value="standardowo"/>
    <input type="hidden" name="view" value="7"/>
    <input type="submit" class="search-catalog-form-btn" title="wyszukaj" />

</form>
<div class="clearfix">
<div class="radio">  
    <input id="search-www" type="radio" name="search" value="search-www" checked="checked">  
    <label for="search-www">
	{if:lang=pl}SZUKAJ W WITRYNIE{endif:lang=pl}
	{if:lang=en}SEARCH THE WEBSITE{endif:lang=en}
	</label>  
    <input id="search-catalog" type="radio" name="search" value="search-catalog">  
    <label for="search-catalog">
	{if:lang=pl}SZUKAJ W KATALOGU ON-LINE{endif:lang=pl}
	{if:lang=en}SEARCH ONLINE CATALOG{endif:lang=en}
	</label>  
</div>
</div>




{endif:data.type=1}

{if:data.type=2}

<gcse:searchresults-only linkTarget="_self" enableOrderBy="true"></gcse:searchresults-only>

{endif:data.type=2}

{if:data.type=22}

<div id="cse">{translates.Loading}</div>

<script type="text/javascript">
google.load("search", "1", {
    language: "{lang}",
    style: google.loader.themes.V2_DEFAULT
});
google.setOnLoadCallback(function() {
  var customSearchOptions = {};
  var orderByOptions = {};
  orderByOptions["keys"] = [{
        label: "{translates.Relevance}", key: ""} , {
        label: "{translates.Date}", key: "date"}];
  customSearchOptions["enableOrderBy"] = true;
  customSearchOptions["orderByOptions"] = orderByOptions;
  var customSearchControl =   new google.search.CustomSearchControl("{data.cx}", customSearchOptions);
  customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
  customSearchControl.setLinkTarget (google.search.Search.LINK_TARGET_SELF);
  var options = new google.search.DrawOptions();
  options.enableSearchResultsOnly();
  options.setAutoComplete(true);
  customSearchControl.draw("cse", options);
  function parseParamsFromUrl() {
    var params = {};
    var parts = window.location.search.substr(1).split("&");
    for (var i = 0; i < parts.length; i++) {
      var keyValuePair = parts[i].split("=");
      var key = decodeURIComponent(keyValuePair[0]);
      params[key] = keyValuePair[1] ?
          decodeURIComponent(keyValuePair[1].replace(/\+/g, " ")) :
          keyValuePair[1];
    }
    return params;
  }
  var urlParams = parseParamsFromUrl();
  var queryParamName = "q";
  if (urlParams[queryParamName]) {
    customSearchControl.execute(urlParams[queryParamName]);
  }
}, true);

</script>


{endif:data.type=22}

{endif:data.cx}
{endwith:searchWidget}
{plain}
