{if:title}<{tokens.h1} class="widget_h">{title}</{tokens.h1}>{endif:title}
{with:gallery2Widget}
{if:webtd.menu}

<div id="gallery{webtd.sid}" class="gallery2">
{loop:webtd.menu}
<figure class="col-md-4">
  <a class="gallery2_aimg fancybox{webtd.sid}" data-fancybox-href="{uimages}/{img}" rel="gallery{webtd.sid}"
	 {if:alt}title="{alt}{if:titlea}<br/><span class='gallery2_more'>{titlea}</span>{endif:titlea}"{endif:alt}>
  <img class="img-responsive" src="{thumbsUrl}/{img}" title="{alt}"/>
  <span class="galery2_more_hover">{titlea}</span>
  </a>
  
  <div class="clearfix"></div>
  {if:href}<a href="{href}"{if:target} target="{target}"{endif:target}>{endif:href}
  <figcaption>{if:alt}{alt}{endif:alt}{if:!alt}&nbsp;{endif:!alt}</figcaption>
  <div class="gallery-line"></div>
  {if:href}</a>{endif:href}
</figure>
{endloop:webtd.menu}
</div>
<div class="clearfix"></div>

<script type="text/javascript">
var kmw_Galery2Array;

if(typeof(kmw_Galery2Array)=='undefined') kmw_Galery2Array=[];

kmw_Galery2Array.push({
	sid: {webtd.sid},
	openEffect	: '{data.effect}',
	closeEffect	: '{data.effect}',
	{if:data.slideshow_autostart}autoPlay	: '{data.slideshow_autostart}',{endif:data.slideshow_autostart}
	{if:data.animation_speed}playSpeed	: '{data.animation_speed}',{endif:data.animation_speed}
	openSpeed	: 'normal',
	closeSpeed	: 'normal'
});
</script>
{endif:webtd.menu}
{endwith:gallery2Widget}
