
.gallery2 a {
    border: 0;
    margin-bottom: 0;
}

.gallery2 figcaption {
    text-align: center;
    color: #f0f0f0;
    font-weight: bold;
    margin-bottom: 25px;
}

.panel-default>.panel-heading {

    background-color: #333;
    border: 0;
}

#side-nav a {
    padding: 10px 12px;
    color: #F0F0F0 !important;
    text-decoration: none;
    border: 0;
    font-size: 18px;
}

.ad-gallery {
    margin-bottom: 20px;   
}

.breadcrumbs > ul a {
    color: #f0f0f0;
    border: 0;
}

.breadcrumbs > ul li {
    padding-left: 0;
}

.breadcrumbs {
    margin-bottom: 6px;
}

.article a {
    color: #f0f0f0;
    border: 0;
}