
.gallery2 a {
    border: 0;
    margin-bottom: 0;
}

.gallery2 figcaption {
    text-align: center;
    color: #f0f0f0;
    font-weight: bold;
    margin-bottom: 25px;
}

#side-nav a {
    color: #202020 !important;
    text-decoration: none;
    border: 0;
}