<div class="clearfix"></div>

    <!----- menu footer -->
    <div class="container footer-menu">
     {level202}
    </div>
    <!----- /menu footer ----->
    
    <!----- footer ----->
     <footer>
      <div class="container">
        <div class="row">
         <div class="col-md-6 col-sm-6">{level200}</div>
         <div class="col-md-6 col-sm-6">{level201}</div>
        </div>
      </div>  
     </footer>
    <!----- /footer ----->

    
    <!----- Search CSS ----->
    <link rel="stylesheet" href="{template_dir}/css/search.css">
    <!----- /Search CSS ----->
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="{template_dir}/js/bootstrap_calendar.min.js"></script>
    <script>
      var LANG='{lang}';
    </script>
    <script src="{template_dir}/js/main.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{template_dir}/js/ie10-viewport-bug-workaround.js"></script>
    <script src="{template_dir}/js/offcanvas.js"></script>