<nav class="navbar">
 <div class="container">
  
  <!----- Logo ----->
  <div class="row">
   <div class="logo col-md-4 col-sm-6">{level100}</div>
   <div class="search col-md-8 col-sm-6 hidden-xs">{level102}</div>
  </div>
  <!----- /Logo ----->
  
  <div class="clearfix"></div>
  
  <div class="navbar-header">
   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
   </button>
          
  </div>
  <div id="navbar" class="collapse navbar-collapse">{level101}</div><!-- /.nav-collapse -->
 </div><!-- /.container -->
</nav><!-- /.navbar -->