<a class="skip-main" href="#navbar">{if:lang=pl}Przejdź do menu{endif:lang=pl}{if:lang=en}Skip to main menu{endif:lang=en}</a>
<a class="skip-main" href="#body">{if:lang=pl}Przejdź do treści{endif:lang=pl}{if:lang=en}Skip to main contents{endif:lang=en}</a>
<a class="skip-main" href="#footer">{if:lang=pl}Przejdź do stopki{endif:lang=pl}{if:lang=en}Skip to footer{endif:lang=en}</a>



<nav class="navbar">
 <div class="container">
  
  <!----- Logo ----->
  <div class="row">
   
   <div class="logo col-md-4 col-sm-6">{level100}</div>
   <div class="search col-md-8 col-sm-6 hidden-xs">
    <div class="wcag-contents">
     <div class="wcag">
     </div>
     
     <div class="font-size">
      <a href="#" class="decreaseFont"  style="font-size:26px;">-</a>
      <a href="#" class="decreaseFont"  style="font-size:26px;">A</a>
      <a href="#" class="defaultFont"  style="font-size:32px;">A</a>
      <a href="#" class="increaseFont" style="font-size:40px;">A</a>
      <a href="#" class="increaseFont" style="font-size:40px;">+</a>
    </div>
     
     <div class="high-contrast-bw">A</div>
     
   </div>
   <div class="wcag hidden-xs">
    <button></button>
   </div>
   
   
    
    {level102}
   </div>
  </div>
  <!----- /Logo ----->
  
  <div class="clearfix"></div>
  
  <div class="navbar-header">
   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
   </button>
          
  </div>
  <div id="navbar" class="collapse navbar-collapse">{level101}</div><!-- /.nav-collapse -->
 </div><!-- /.container -->
</nav><!-- /.navbar -->