<!DOCTYPE html>
<!--[if (gte IE 9)|!(IE)]><!--><html lang="{lang}"> <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!----- head ----->
  {include:head.html}
  <!----- /head ------>
</head>

<body{if:page.class} class="{page.class}"{endif:page.class}>
  
 <!----- header ----->
 {with:header} {include:header.html} {endwith:header}
 <!----- /header ----->

 <!----- main content ----->
 {with:body}
  <a name="body"></a>
  <div class="container">
    
   <!----- banner ----->
   <div class="row"><div class="banner">{level1}</div></div>
   <!----- /banner ----->
  
   <!----- main level ----->
   <div class="row"><div class="col-md-8 col-sm-8" id="content">{level2}</div>
   <!----- /main level ----->
   
   <!----- sidebar ----->
   <div class="col-md-4 col-sm-4" id="sidebar">{level3}</div></div>
   <!----- /sidebar ----->
  
 </div> <!-- /container end -->
 {endwith:body}
 <!----- /main content ----->

 <!----- footer ----->
 {with:footer} {include:footer.html} {endwith:footer}
 <!----- /footer ----->

</body>
</html>