{with:articleWidget}

{if:level=2}
 <div class="jumbotron">
 {if:title}<{tokens.h1}{if:itemtype} itemprop="name"{endif:itemtype}>{if:more}<a href="{more_link}">{endif:more}{title}{if:more}</a>{endif:more}</{tokens.h1}>{endif:title}
 
  {if:bgimg}
   <img{if:itemtype} itemprop="image"{endif:itemtype} src="{imagesUrl}/{bgimg}" class="img-responsive" />
  {endif:bgimg}
  
  <p>{plain}{tokens.php}</p>
        
  {if:attachment}<div class="kmw_article_att {attachment_class}"><a href="{ufiles}/{attachment}">{translates.Download} &raquo;</a></div>{endif:attachment}
<div class="clearfix"></div>
 </div>
{define:level_found=1}
{endif:level=2}

{if:!level_found}
{if:title}<a name="{title}"></a>{endif:title}
<div class="kmw_article{if:class} {class}{endif:class}">


        {if:title}<{tokens.h1}{if:itemtype} itemprop="name"{endif:itemtype}>{if:more}<a href="{more_link}">{endif:more}{title}{if:more}</a>{endif:more}</{tokens.h1}>{endif:title}
        <div class="kmw_article_text">{plain}{tokens.php}</div>
        <div class="clearfix"></div>
        {if:attachment}<div class="kmw_article_att {attachment_class}"><a href="{ufiles}/{attachment}">{translates.Download} &raquo;</a></div>{endif:attachment}
	{if:more}<a href="{more_link}" class="read-more">{if:moretxt}{moretxt}{endif:moretxt}{if:!moretxt}{translates.More} &raquo;{endif:!moretxt}</a>{endif:more}

</div>
{endif:!level_found}
{endwith:articleWidget}