{if:menu}

{if:level=(200,201,202)}
{if:name}<h4>{name}</h4>{endif:name}
<ul class="footer-menu">
{loop:menu}
   {if:!menu}
    <li class="{if:active}active{endif:active}">
        <a href="{href}" {if:alt_title} title="{alt_title}"{endif:alt_title} {if:target} target="{target}"{endif:target}>
        {if:img}<img src="{uimages}/{img}" alt="{alt}" class="img" />{if:imga}<img src="{uimages}/{imga}" alt="{alt}" class="imga"/>{endif:imga}{endif:img}
        {if:!img}{alt}{endif:!img}
        </a>
    </li>
    {endif:!menu}
    {if:menu}
	<li class="dropdown"><a href="{href}" class="dropdown-toggle {if:active}active{endif:active}" data-toggle="dropdown"{if:alt_title} title="{alt_title}"{endif:alt_title} {if:target} target="{target}"{endif:target}>{if:img}<img src="{uimages}/{img}" alt="{alt}" class="img" />{if:imga}<img src="{uimages}/{imga}" alt="{alt}" class="imga"/>{endif:imga}{endif:img}{if:!img}{alt}{endif:!img}<b class="caret"></b></a>
		{include:submenu.html}
	</li>
    {endif:menu}
{endloop:menu}
</ul>
{define:level_found=1}
{endif:level=(200,201,202)}

{if:level=3}
{if:title}<{tokens.h1} class="widget_h">{title}</{tokens.h1}>{endif:title}
{if:name}<{tokens.h1} class="widget_h">{name}</{tokens.h1}>{endif:name}
<ul class="sidebar-menu">
    {loop:menu}
	 {if:!menu:s1}<li class="{if:active}active {endif:active} {if:class} {if:first_child} home{endif:first_child} {if:menu:s1}dropdown {endif:menu:s1}{if:!page.id}{if:!page_target}{if:page_target|strlen}active {endif:page_target|strlen}{endif:!page_target}{endif:!page.id}" >{endif:!menu:s1}
     {if:menu:s1}<li class="dropdown {if:active}active {endif:active} {if:first_child} home{endif:first_child} {if:!page.id}{if:!page_target} active{endif:!page_target}{endif:!page.id}">{endif:menu:s1}
      {if:menu:s1}<a name="{title}" href="{href}" class="dropdown-toggle"  >{if:img}<img src="{uimages}/{img}" alt="{alt}" class="img" />{if:imga}<img src="{uimages}/{imga}" alt="{alt}" class="imga"/>{endif:imga}{endif:img}
        {if:!img}{alt}{endif:!img} </a>{endif:menu:s1}
      {if:!menu:s1}<a name="{title}" href="{href}"{if:target} target="{target}"{endif:target}>{if:img}<img src="{uimages}/{img}" alt="{alt}" class="img" />{if:imga}<img src="{uimages}/{imga}" alt="{alt}" class="imga"/>{endif:imga}{endif:img}
        {if:!img}{alt}{endif:!img}</a>{endif:!menu:s1}
      {if:menu:s1}
       <ul class="dropdown-menu">
        {loop:menu:s1}
         <li class="{if:active}active {endif:active}"><a name="{title}" href="{href}">{alt}</a></li>
        {endloop:menu:s1}
       </ul>
      {endif:menu:s1}
     </li>
    {endloop:menu}
</ul>
{define:level_found=1}
{endif:level=3}

{if:level=101}
<ul class="nav navbar-nav {class}{endif:class}">
    {loop:menu}
	 {if:!menu:s1}<li class="{if:active}active {endif:active} {if:class} {if:first_child} home{endif:first_child} {if:menu:s1}dropdown {endif:menu:s1}{if:!page.id}{if:!page_target}{if:page_target|strlen}active {endif:page_target|strlen}{endif:!page_target}{endif:!page.id}" >{endif:!menu:s1}
     {if:menu:s1}<li class="dropdown {if:active}active {endif:active} {if:first_child} home{endif:first_child} {if:!page.id}{if:!page_target} active{endif:!page_target}{endif:!page.id}">{endif:menu:s1}
      {if:menu:s1}<a name="{title}" href="{href}" class="dropdown-toggle"  >{if:img}<img src="{uimages}/{img}" alt="{alt}" class="img" />{if:imga}<img src="{uimages}/{imga}" alt="{alt}" class="imga"/>{endif:imga}{endif:img}
        {if:!img}{alt}{endif:!img} </a>{endif:menu:s1}
      {if:!menu:s1}<a name="{title}" href="{href}"{if:target} target="{target}"{endif:target}>{if:img}<img src="{uimages}/{img}" alt="{alt}" class="img" />{if:imga}<img src="{uimages}/{imga}" alt="{alt}" class="imga"/>{endif:imga}{endif:img}
        {if:!img}{alt}{endif:!img}</a>{endif:!menu:s1}
      {if:menu:s1}
       <ul class="dropdown-menu">
        {loop:menu:s1}
         <li class="{if:active}active {endif:active}"><a name="{title}" href="{href}">{alt}</a></li>
        {endloop:menu:s1}
       </ul>
      {endif:menu:s1}
     </li>
    {endloop:menu}
    </ul>
{define:level_found=1}
{endif:level=101}

{if:!level_found}
<ul class="menu-standard">
{loop:menu}
   {if:!menu}
    <li class="{if:active}active{endif:active}">
        <a href="{href}" {if:alt_title} title="{alt_title}"{endif:alt_title} {if:target} target="{target}"{endif:target}>
        {if:img}<img src="{uimages}/{img}" alt="{alt}" class="img" />{if:imga}<img src="{uimages}/{imga}" alt="{alt}" class="imga"/>{endif:imga}{endif:img}
        {if:!img}{alt}{endif:!img}
        </a>
    </li>
    {endif:!menu}
    {if:menu}
	<li class="dropdown"><a href="{href}" class="dropdown-toggle {if:active}active{endif:active}" data-toggle="dropdown"{if:alt_title} title="{alt_title}"{endif:alt_title} {if:target} target="{target}"{endif:target}>{if:img}<img src="{uimages}/{img}" alt="{alt}" class="img" />{if:imga}<img src="{uimages}/{imga}" alt="{alt}" class="imga"/>{endif:imga}{endif:img}{if:!img}{alt}{endif:!img}<b class="caret"></b></a>
		{include:submenu.html}
	</li>
    {endif:menu}
{endloop:menu}
</ul>
{endif:!level_found}

{endif:menu}