{if:title}<{tokens.h1} class="widget_h">{title}</{tokens.h1}>{endif:title}
{with:articlelistWidget}

{if:level=2}

{if:nav}<div class="kmw_articlelist_nav" rel="{nav_limit}">
<ul>{loop:nav}
<li><a rel="{loop}">{loop}</a></li>
{endloop:nav}</ul>
</div>{endif:nav}

<noindex>
<!--googleoff: all-->
<div class="{class}">
{loop:articles}



{if:title}<a name="{title}"></a>{endif:title}
<div class="col-md-6 article-list">
	<div class="row border">
		{if:bgimg}<div class="col-md-6"><a href="{more_link}"><img src="{imagesUrl}/{bgimg}" class="img-responsive"/></a></div>{endif:bgimg}
	    {if:title}<div class="col-md-6 txt">
		{if:nd_custom_date}<p class="articlelist-block-date">{nd_custom_date|kameleon.date}{if:nd_custom_date_end} - {nd_custom_date_end|kameleon.date}{endif:nd_custom_date_end}</p>{endif:nd_custom_date}
		{if:trailer}<p class="articlelist-block-date2">{trailer}</p>{endif:trailer}
		<{tokens.h1}><a href="{more_link}">{endif:more}{title}{if:more}</a></{tokens.h1}>
		<a href="{more_link}" class="read-more">{if:moretxt}{moretxt}{endif:moretxt}{if:!moretxt}{translates.More}{endif:!moretxt}</a>
		</div>{endif:title}
	</div>
</div>


{endloop:articles}
</div>
<!--googleon: all-->
</noindex>



{define:level_found=1}
{endif:level=2}


{if:!level_found}

{if:nav}<div class="kmw_articlelist_nav" rel="{nav_limit}">
<ul>{loop:nav}
<li><a rel="{loop}">{loop}</a></li>
{endloop:nav}</ul>
</div>{endif:nav}

{loop:articles}


<noindex>
<!--googleoff: all-->

{if:title}<a name="{title}"></a>{endif:title}
<div class="kmw_article_list">
    {if:bgimg}
        <img{if:itemtype} itemprop="image"{endif:itemtype} src="{thumbsUrl}/{bgimg}" />
    {endif:bgimg}

        {if:title}<{tokens.h1}{if:itemtype} itemprop="name"{endif:itemtype}><a href="{more_link}">{endif:more}{title}{if:more}</a></{tokens.h1}>{endif:title}
        <div class="kmw_article_text">{plain}</div>
        <div class="clearfix"></div>
	    <a href="{more_link}" class="read-more">{if:moretxt}{moretxt}{endif:moretxt}{if:!moretxt}{translates.More} &raquo;{endif:!moretxt}</a>

</div>
<!--googleon: all-->


</noindex>

{endloop:articles}


{endif:!level_found}

{endwith:articlelistWidget}
{plain}