{if:title}<{tokens.h1} class="widget_h">{title}</{tokens.h1}>{endif:title}
{with:slideshowWidget}
{if:webtd.menu}
<style type="text/css">
    #bxslider{webtd.sid}-wrapper .bx-caption {
        background : rgba(80, 80, 80, {data.text_opacity});
		background-color: {data.background_color};
        text-align : {data.text_align};
        {if:data.text_position=top}
        top : 0;
        bottom : auto;
        {endif:data.text_position=top}
        {if:data.text_position=bottom}
        top : auto;
        bottom : 0;
        {endif:data.text_position=bottom}
    }

    #bxslider{webtd.sid}-wrapper .bx-caption span {
        font-size : {data.text_size}px;
		color: {data.text_color};
    }

    #bxslider{webtd.sid}-wrapper .bx-pager {
        {if:data.text_position=top}
        top : 0;
        {endif:data.text_position=top}
        {if:data.text_position=bottom}
        bottom : 0;
        {endif:data.text_position=bottom}
        {if:data.text_align=left}
        right : 0;
        {endif:data.text_align=left}
        {if:data.text_align=right}
        left : 0;
        {endif:data.text_align=right}
    }

    #bxslider{webtd.sid}-wrapper .bx-pager .bx-pager-link {
        {if:data.pager_style=square}
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        {endif:data.pager_style=square}
    }
</style>
<div id="bxslider{webtd.sid}-wrapper" class="bxslider-wrapper" style="display: none">
    <ul id="bxslider{webtd.sid}" class="bxslider">
        {loop:webtd.menu}
        <li>
            {if:page_target}<a href="{href}">{endif:page_target}
                <img src="{imagesUrl}/{img}" {if:alt}title="{alt}"{endif:alt} />
            {if:page_target}</a>{endif:page_target}
        </li>
        {endloop:webtd.menu}
    </ul>
</div>
<script type="text/javascript">
    var kmw_slideshowArray;
    if(typeof(kmw_slideshowArray)=='undefined') kmw_slideshowArray=[];
    kmw_slideshowArray[kmw_slideshowArray.length]= {sid:{sid},opt:{js_options}};  
</script>
{endif:webtd.menu}
{endwith:slideshowWidget}